.card-icon {
  background: linear-gradient(60deg, #2b3787, #005caa) !important;
}

.card-title {
  font-size: 18px;
}

.content {
  margin-top: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-toggler-right {
  display: none;
}

@media (max-width: 991px) {
  .navbar-toggler-right {
    display: block;
  }
}


